@import url("https://fonts.googleapis.com/css?family=Lato:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:wght@500;700&display=swap");

*:not(h1,h2,h3,h4,h5) {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Lato, fantasy;
  padding: 0;
  border: none;
}

body {
  padding: 1em 25em;
  position: relative;
}

.calculator {
  position: fixed;
  visibility: hidden;
  border: 0.1em solid black;
  box-shadow: 0 0.1em 0.5em rgb(0, 0, 0);
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.2em;
  padding: 1em;
}

.items-shared {
  border-radius: 0.2em;
  padding: 0.5em;
  text-align: center;
  background: #e0e0e0;
  box-shadow: 0 0.1em 0.1em #2b2730;
  font-size: 1.5em;
  height: 3em;
  cursor: pointer;
}

.items-shared:active {
  box-shadow: none;
}

.item-0 {
  grid-area: 1/1/1/5;
  text-align: right;
  background: #858694;
  font-size: 4em;
  padding: 0.1em 0.5em;
  box-shadow: none;
  outline: auto #545563;
  color: aliceblue;
  max-height: 1.5em;
  border-radius: 0;
  margin-bottom: 0.1em;
  font-family: Rajdhani, Lato, fantasy;
  cursor: auto;
  overflow: hidden;
}

.item-4,
.item-8,
.item-12,
.item-16,
.item-19 {
  background: #f5913e;
}

.item-17 {
  grid-area: 6/1/6/3;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  body {
    padding: 10em 20em;
  }
}

@media screen and (max-width: 992px) {
  body {
    padding: 10em 10em;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 5em 1em;
  }
}
